// Specific CSS for your home-page
.stats-no-title {
  display: flex;
  gap: 10px;
}

.element-names {
  display:flex;
  flex-direction: column;
}

.element-count {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.element-win {
  display: flex;
  flex-direction: column;
}

h1 {
  color: $overwatch-orange;
}
