.navbar-lewagon {
  justify-content: space-between;
  background: $med-blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 80px;
}

.nav-link {
  color: $overwatch-orange;
}
